@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Server.ServerListModel>
@{
    Layout = "Master/Master";
    ViewBag.Title = "Admin .:. Server .:. List";
}
<div class="col-xs-12 content">
    <a class="btn btn-primary" href="@Url.Content("~/Admin/Server/Add")"><span class="glyphicon glyphicon-plus"></span> Add new Server</a>
</div>
<div class="col-xs-12 content">
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-5">Name</th>
                <th class="col-md-2">Owner</th>
                <th class="col-md-1">Online</th>
                <th class="col-md-1">Closed</th>
                <th class="col-md-1">NoScans</th>
                <th class="col-md-1">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in Model.Servers)
            {
                <tr>
                    <td><a href="@Url.Content(string.Format("~/Admin/Server/Detail/{0}", server.Id))">@server.Id</a></td>
                    <td><a href="@Url.Content(string.Format("~/Admin/Server/Detail/{0}", server.Id))">@(string.Format("{0}:{1}", server.Address, server.Port))@(!string.IsNullOrWhiteSpace(server.Name) ? " " + server.Name : "")</a></td>
                    <td>@server.OwnerId</td>
                    <td>@server.Online</td>
                    <td>@server.Closed</td>
                    <td>@server.NoScans</td>
                    <td><a href="@server.Url">link</a></td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.HasPaging)
    {
        <ul class="pagination">
            @foreach (var page in Model.GetPages())
            {
                <li @(string.IsNullOrWhiteSpace(page.CssClass) ? "" : "class=" + page.CssClass)><a href="@page.Url">@page.Label</a></li>
            }
        </ul>
    }
</div>