@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Server.ServerDetailModel>
@using System
@{
    Layout = "Master/Master";
    ViewBag.Title = "Admin .:. Server .:. Detail";
}
@if (!Model.IsCreation)
{
    <div class="col-xs-12 content">
        <form method="POST" action="@Url.Content(string.Format("~/Admin/Server/Detail/{0}/Action",Model.Server.Id))">
            <div class="row">
                <div class="col-md-1">ID: @Model.Server.Id</div>
                <div class="col-md-5"><a href="@Model.Server.Url">@Model.Server.Url</a></div>
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group"><button type="submit" name="rescan" value="true" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span> Rescan</button></div>
                    <div class="btn-group"><button type="submit" name="delete" value="true" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Mark Deleted</button></div>
                    <div class="btn-group"><button type="submit" name="remove" value="true" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove from Solr</button></div>
                </div>
            </div>
            @if (Model.Server.Deleted)
            {
                <div class="alert alert-danger spacer-10" role="alert"><strong>Server is deleted</strong><button type="submit" name="restore" value="true" class="btn btn-warning btn-sm pull-right"><span class="glyphicon glyphicon-flash"></span> Restore</button></div>
            }
            @Html.AntiForgeryToken()
        </form>
        <hr />
        @Html.Partial("Partials/Server/DetailSummary.cshtml", Model)
    </div>
    <hr />
}
<div class="col-xs-12 content">
    @Html.Partial("Partials/Server/DetailForm.cshtml", Model)
</div>