<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test signalr</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-dialog.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lansearch.css")" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Announcement to all Users</h4></div>
            <div class="panel-body">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="annTitle"></div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-9"><textarea class="form-control" id="annMsg"></textarea></div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="annType">
                                <option value="default">Dafault</option>
                                <option value="primary">Primary</option>
                                <option value="info" selected="selected">Info</option>
                                <option value="warning">Warning</option>
                                <option value="danger">Danger</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-offset-3 col-sm-2"><button class="btn btn-primary" id="annSend">Send Announcement</button></div>
                </fieldset>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.1.2.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-dialog.js")"></script>
    <script src="@Url.Content("~/Scripts/lansearch.js")"></script>
    @*<script src="/sr/hubs"></script>*@
    <script type="text/javascript">
        $(function () {
            var disNotMsgShown = false;
            function browserNotification(name, message, tag) {
                if (!("Notification" in window)) {
                    if (console.log){
                        console.log("This browser does not support desktop notification");
                    }
                    return;
                }
                if (Notification.permission === "granted") {
                    var notification = new Notification("LANSearch: New results for "+name,
                    {
                        dir: "ltr",
                        lang: "en",
                        body: message,
                        tag: tag,
                        onclick: function(a,b,c) {
                            console.log("clicked");
                        }
                    });
                    notification.onclick = function () {
                        $.each(BootstrapDialog.dialogs, function (i, obj) {
                            if (obj.getId() == tag) {
                                obj.getModal().css('z-index', BootstrapDialog.ZINDEX_MODAL+500);
                                return false;
                            }
                        });
                    }
                    return;
                }
                if (console.log) {
                    console.log("Notifications are not allowed.");
                }
                if (disNotMsgShown) {
                    //TODO
                    disNotMsgShown = true;
                }
            }


                function htmlEncode(value) {
                    return $('<div />').text(value).html();
                }

                var connection = $.hubConnection("/sr", { useDefaultPath: false });
                var notifyHub = connection.createHubProxy('notificationHub');
                notifyHub.on('notify', function (id, name, url, items) {
                    if (items.length == 0) return;
                    var notId = "notify-" + id;

                    var shortMessage = "";
                    var htmlMessage = "";
                    $.each(items, function (i, obj) {
                        if (shortMessage.length > 0) {
                            shortMessage += "\n";
                        }
                        shortMessage += obj.FileName + " (" + obj.FileSize + ")";
                        htmlMessage += '<a class="list-group-item filelist" target="_blank" href="' + obj.FileUrl.replace('"', '') + '">' +
                            '<h4 class="media-heading">' + htmlEncode(obj.FileName) + '</h4>' +
                            '<div class="row">' +
                            '<div class="col-xs-6"><span class="glyphicon glyphicon-hdd"></span> ' + htmlEncode(obj.ServerName) + '</div>' +
                            '<div class="col-xs-6"><span class="glyphicon glyphicon-file"></span> ' + htmlEncode(obj.FileSize) + '</div>' +
                            '</div></a>';
                    });
                    var dialog;
                    $.each(BootstrapDialog.dialogs, function (i, obj) {
                        if (obj.getId() == id) {
                            dialog = obj;
                            return false;
                        }
                    });
                    if (!dialog) {
                        dialog = new BootstrapDialog({
                            id: notId,
                            title: "Search Notification for " + name,
                            message: htmlMessage,
                            draggable: true,
                            closable: false,
                            buttons: [
                                {
                                    label: 'Close',
                                    action: function(dialogRef) {
                                        dialogRef.close();
                                    }
                                }
                            ]
                        });
                    } else {
                        dialog.setMessage(htmlMessage);
                    }
                    dialog.open();
                    browserNotification(name, shortMessage, notId);
                });

                notifyHub.on('announcement', function (title, message, type) {
                    var dType;
                    switch (type) {
                        case "danger":
                            dType = BootstrapDialog.TYPE_DANGER;
                            break;
                        case "warning":
                            dType = BootstrapDialog.TYPE_WARNING;
                            break;
                        case "success":
                            dType = BootstrapDialog.TYPE_SUCCESS;
                            break;
                        default:
                            dType = BootstrapDialog.TYPE_INFO;
                            break;
                    }

                    var dialog= new BootstrapDialog({
                        title: title,
                        message: message,
                        type:dType,
                        draggable: true,
                        closable: false,
                        buttons: [
                            {
                                label: 'Close',
                                action: function (dialogRef) {
                                    dialogRef.close();
                                }
                            }
                        ]
                    });
                    dialog.open();
                });

                notifyHub.on('administratorMessage', function (message) {
                    var dialog = new BootstrapDialog({
                        title: "Message from LANSearch Administrator",
                        message: message,
                        type: BootstrapDialog.TYPE_WARNING,
                        draggable: true,
                        closable: false,
                        buttons: [
                            {
                                label: 'Close',
                                action: function (dialogRef) {
                                    dialogRef.close();
                                }
                            }
                        ]
                    });
                    dialog.open();
                });

            var connectionReady = false;
            connection.start().done(function() {
                connectionReady = true;
            });

            $("#annSend").on('click', function () {
                if (!connectionReady) {
                    BootstrapDialog.alert("SignalR connection not ready yet, please wait a few seconds.");
                    return;
                }
                var title = $("#annTitle").val();
                var msg = $("#annMsg").val();
                var type = $("#annType").val();

                if (title.length == 0 || msg.length == 0 || type.length == 0) {
                    BootstrapDialog.alert("The data is incomplete, please fill out title, message and select a type.");
                    return;
                }

                if (notifyHub)
                    notifyHub.invoke("SendAnnouncementMessage", title, msg, type);
                else
                    alert("Error: SignalR connection not setup correctly, can't sent message!");
            });
        });
    </script>
</body>
</html>