@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Search.SearchFile>
<a href="@Model.Url" target="_blank" class="list-group-item@(Model.Server.Closed || !Model.Server.Online?" disabled":"") draggable=" false">
    <span class="result-heading col-xs-12">@Model.Name</span>
    <div class="row">
        <div class="col-md-3 col-xs-6"><span class="glyphicon glyphicon-hdd"></span> @Model.ServerName</div>
        <div class="col-md-2 col-xs-6">
            @if (string.IsNullOrWhiteSpace(Model.Server.Login))
            {
                @Html.Raw("&nbsp;");
            }
            else
            {
                <span class="glyphicon glyphicon-user"></span> @Model.Server.Login
            }
        </div>
        <div class="col-md-3 col-xs-6"><span class="glyphicon glyphicon-file"></span> @Model.Size</div>
        <div class="col-md-4 col-xs-6 text-right"><span class="glyphicon glyphicon-time"></span> @Model.Date</div>
    </div>
    <div class="row">
        @if (Model.Server.Closed)
        {
            <span class="result-footer col-xs-12 text-warning">Server is currently closed by it's owner.</span>
        }
        else if (!Model.Server.Online)
        {

            <span class="result-footer col-xs-12 text-danger">Server is offline</span>
        }
        else
        {
            <span class="result-footer col-xs-12">@Model.Path</span>
        }
    </div>
</a>